[submodule "micropython-ws2812ring"]
	path = micropython-ws2812ring
	url = git@github.com:benvonhandorf/micropython-ws2812ring.git
[submodule "micropython-configurator"]
	path = micropython-configurator
	url = git@github.com:benvonhandorf/micropython-configurator.git
